$Primary : rgb(90, 160, 160);
$Background: rgb(239, 250, 250);
$FilterTablets: rgb(238, 246, 246);
$Dark: rgb(123, 142, 142);
$VeryDark: rgb(44, 58, 58);

$FontSize: 0.9rem;
$FontWeightBold: 700;
$FontWeight: 500;
$FontFamily: 'Spartan', sans-serif;